
.topnav
{
    background-color :lightskyblue;
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
.topnav a{
    float: left;
    color: black;
    text-align: center;
    padding: 15px 16px;
    font-size: 15px;
}
.topnav a:hover
{
    background-color:blue;
}
.topnav a.active
{
    background-color:black;
    color:white;
}
.sidenav
{
    height: 20%;
    width: 20%;
   padding: 10px;
    z-index: 4;
    top:0;
    background-color:lightblue;
    border-top: 10px;
    float: left;
    margin-right: 10px;
 
}
.sidenav a{
    padding: 8px 8px 8px 32px;
    font-size: 15px;
    display: block;
}
.blank
{
    background-color:white;
}
.submit
{
    padding: 10px 60px 10px 60px;
    border-radius: 7px;
    background-color: aliceblue;
  
}
.commstats
{
    list-style: none;
    float: left;
}
.header
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.small
{
    padding:3px;
    border-radius: 10px;
    background-color:blueviolet;
    color: white;
}
.mid1
{
   
    background-color: lightblue;
  margin: 10px;
    float: left;
    padding: 50px;
  

}

.section1
{
    display: block;
    top: 7%;
    left:20%;
    position: absolute;
   padding: 20px;
   width: 80%;
}
.container
{
    display:flex;  
    width:100%;
    align-items: center;
}
.middle
{
    display: flex;
    width: auto;
    overflow: hidden;
    width: 100%;
}
.mid2
{
   padding: 20px;
   margin: 10px;
    float: right;
    background-color: lightblue;
}
.problems
{

    width: 100%;
    overflow: auto;
   
}
.grey
{
    background-color:lightblue;
    padding: 10px;

}
.white
{
background-color:lightblue;
padding: 10px;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    width:100%;
  max-width: 700px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.con{
    display: flex;
    position: relative;
    left: 200px;
}
.img{
width:50%;
height: 40%;

}

.contests
{
    display:flex;
    position: relative;
    left: 150px;
}
.image
{
    width:30%;
    margin: 2px;
}


.im
{
height: 100px;
}
table
{
    padding: 5px;
    width: 100%;
    margin: 5px;
}
th,td
{
    background-color:lightcyan;
    padding: 3px;
}
.input
{
    border-radius: 10px;
    background-color: violet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sub
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    font-size: medium;
}